{% extends "base.html.twig" %}

{% block body %}
<div>
    <h1>Questionnaires</h1>
</div>
<div style="margin-bottom: 16px">
    <a href="{{ url('questionnaire_new') }}">Create</a>
</div>
<table border="1" style="max-width: 700px; width: 100%; text-align: center;">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Title</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ questionnaire.title }}</td>
                <td>{{ questionnaire.expiryDate | date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}